[Unit]
Description=Secluso Camera Hub Auto Updater
RequiresMountsFor=/data
After=network-online.target secluso_camera_hub.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/secluso-update --component raspberry_camera_hub --interval-secs 1800 --github-timeout-secs 20 --restart-unit secluso_camera_hub.service --github-repo secluso/core --update-hint-path /data/update_hint --hint-check-interval-secs 60
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

