[Unit]
Description=secluso_camera_hub
RequiresMountsFor=/home
RequiresMountsFor=/provision
# https://systemd.io/NETWORK_ONLINE/
After=network.target

[Service]
User=root
WorkingDirectory=/var/lib/secluso
# fail fast if secrets or binary missing
ExecStartPre=/usr/bin/test -x /usr/bin/secluso-camera-hub
ExecStartPre=/usr/bin/test -r /provision/camera_secret
ExecStartPre=/usr/bin/test -r /provision/wifi_password

ExecStart=/usr/bin/secluso-camera-hub
Environment="RUST_LOG=info"
Environment="UPDATE_HINT_PATH=/var/lib/secluso/update_hint"
Environment="SECLUSO_USE_PROVISION=1"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
